* {
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin: 0;
  padding: 0;
  font-family: "Comic Sans";
}

body {
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 100vw;
  background-color: #3d5a6c;
  background-image: url(/Users/reidpoole/turing_work/2mod/travelTrackerAll/travelTracker/dist/loginwindowpic.jpg);
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  height: 100vh;
  background-color: #72a98f;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

/* header */

.audio-style {
  color: #72a98fb8;
}
.title-wrapper {
  height: 12vh;
  width: 50vw;
}

.plane-emoji {
  font-size: 7vh;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 12vh;
}

h1 {
  /* color: snow; */
  font-size: 6vh;
  padding: 3vh 0 0 3vw;
}

.today {
  font-size: 2vh;
}
h2 {
  font-size: 5vh;
}

.user-basic {
  padding: 3vh 3vw 0 0;
}

/* Input Fields(left-side) */
.input-field {
  color: snow;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 73vh;
  width: 23vw;
  margin-top: 6vh;
  background-color: #3d5a6c;
  border-radius: 12px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.drop-down {
  width: 11vw;
}

.title {
  font-size: 2.5vh;
}

.title2 {
  color: snow;
  font-size: 2vh;
}

.user-input {
  color: black;
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  background-color: #72a98f;
  align-items: center;
  justify-content: space-evenly;
  height: 35vh;
  width: 17vw;
  border-radius: 12px;
}

/* MAIN - USER TRIPS(right side) */

.your-trips {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  width: 65vw;
}

.upcoming-trips,
.past-trips {
  align-items: center;
  justify-content: space-around;
  height: 58vh;
  width: 68vw;
  background-color: #69353fab;
  border-radius: 12px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  overflow-y: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.past-trips {
  margin-bottom: 2vh;
}

.location-img {
  margin-top: 1vh;
  border-radius: 12px;
  height: 11vh;
  width: 17vw;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.location-card:hover {
  background-color: #7292a9;
  cursor: pointer;
}
.location-card {
  margin: 1.5vh 0 0 1.5vw;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 22vh;
  width: 20vw;
  background-color: #3d5a6c;
  border-radius: 12px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.card-info {
  margin: 1vh 0 1vh 0;
  height: 10vh;
  width: 16vw;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  background-color: #72a98f;
  overflow-y: auto;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.location,
.date,
.travel-num,
.status {
  font-size: 1.6vh;
}

/* login page styles  */

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-image: url(/Users/reidpoole/turing_work/2mod/travelTrackerAll/travelTracker/dist/loginwindowpic.jpg);
}

.login-input {
  height: 3vh;
  width: 12vw;
  border-radius: 8px;
}

.error-message,
.login-error {
  color: rgb(211, 45, 45);
  font-size: 2vh;
  font-weight: 800;
}
.login-title {
  color: rgba(0, 0, 0);
  margin-right: 3vw;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 35vh;
  width: 55vh;
  box-shadow: 2px 2px 5px 0 rgba(103, 94, 94, 0.792);
  border-radius: 12px;
  background-color: #72a98fb8;
  color: black;
}

/* BUTTONS */

.login-submit {
  height: 4vh;
  width: 6vw;
  background-color: #e0fbea;
  border-radius: 30px;
  box-shadow: #004232 0.5vw 0.5vw 0 0;
  color: #004232;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5vh;
  line-height: 3vh;
  text-align: center;
}

.login-submit:hover {
  background-color: #fff;
}

.login-submit:active {
  box-shadow: #004232 2px 2px 0 0;
}

.logout-button {
  margin: 1vh 0 0 1vw;
  background-color: #768893;
  border-radius: 8px;
  height: 3.5vh;
  width: 7.5vw;
}

.logout-button:hover {
  background-color: rgb(0, 115, 255);
  cursor: pointer;
}

.logout-button,
.submit-button,
.login-submit {
  height: 5vh;
  width: 7vw;
  background-color: #768893;
  background-color: #e0fbea;
  border-radius: 30px;
  box-shadow: #004232 0.5vw 0.5vw 0 0;
  color: #004232;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5vh;
  line-height: 3vh;
  text-align: center;
}

.logout-button:hover,
.login-submit:hover {
  background-color: #02a77e;
  cursor: pointer;
}

.buy-button,
.submit-button {
  margin-top: 0.5vh;
  height: 5vh;
  width: 7vw;
  background-color: #768893;
  background-color: #e0fbea;
  border-radius: 30px;
  box-shadow: #004232 0.5vw 0.5vw 0 0;
  color: #004232;
  cursor: pointer;
  font-weight: 600;
  font-size: 1.5vh;
  line-height: 3vh;
  text-align: center;
}
.buy-button:hover,
.submit-button:hover {
  background-color: #02a77e;
  cursor: pointer;
}

.buy-button:disabled:hover {
  background-color: transparent;
  cursor: not-allowed;
}

.hidden {
  display: none;
}
