* {
  font-family: "Lora", serif;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  font-size: 12px;
  margin: 0;
  padding: 0;
  font-family: "Comic Sans";
}

body {
  display: flex;
  flex-direction: column;
  height: 95vh;
  width: 100vw;
  background-color: #634133;
}

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100vw;
  height: 85vh;
  background-color: #b86f52;
}

/* header */

header {
  display: flex;
  justify-content: space-between;
  width: 100vw;
  height: 12vh;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.drop-down {
  width: 11vw;
}

h1 {
  color: white;
  font-size: 6vh;
  padding: 3vh 0 0 3vw;
}
.greeting,
.today {
  color: white;
}
.today {
  font-size: 2vh;
}
h2 {
  font-size: 5vh;
}

.user-basic {
  padding: 3vh 3vw 0 0;
}

/* input fields/left-side */
.input-field {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 73vh;
  width: 23vw;
  margin-top: 6vh;
  border: 3px solid #f78764;
  background-color: #f78764;
  border-radius: 12px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.buy-button,
.submit-button {
  margin-top: 0.5vh;
  border-radius: 8px;
  height: 3.5vh;
  width: 7.5vw;
}

.title {
  font-size: 2.5vh;
}

.title2 {
  font-size: 2vh;
}
.user-input {
  display: flex;
  flex-direction: column;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  align-items: center;
  justify-content: space-evenly;
  height: 35vh;
  width: 17vw;
  border-radius: 12px;
}

/* posted section/right side */

.your-trips {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 80vh;
  width: 65vw;
  /* border: 2px solid blue; */
}

.upcoming-trips,
.present-trips,
.past-trips {
  align-items: center;
  justify-content: space-around;
  height: 55vh;
  width: 65vw;
  border: 6px solid #f78764;
  background-color: #f78764;
  border-radius: 12px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  overflow-y: scroll;
  scrollbar-color: #f78764;
}

.location-img {
  margin-top: 1vh;
  border-radius: 12px;
  height: 12vh;
  width: 17vw;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  /* border: 2px solid brown; */
}
.location-card {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 22vh;
  width: 20vw;
  border: 6px solid #634133;
  background-color: #634133;
  border-radius: 12px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
}

.location,
.date,
.travel-num,
.status {
  font-size: 2vh;
  color: white;
}

.upcoming-trips,
.past-trips {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.login {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 100;
  position: absolute;
  height: 100vh;
  width: 100vw;
  background-color: darkorange;
  background-image: url(/Users/reidpoole/turing_work/2mod/travelTrackerAll/travelTracker/dist/loginwindowpic.jpg);
}

.logout-button,
.login-submit {
  height: 4vh;
  width: 6vw;
  border-radius: 8px;
}

.login-input {
  height: 3vh;
  width: 12vw;
  border-radius: 8px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 28vh;
  width: 40vh;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.5);
  border-radius: 12px;
  background-color: #3c7d8f;
}

.hidden {
  display: none;
}
